body {
    font-family: 'Inter', sans-serif;
    margin: 0;
}

h1 {
    font-size: 43px;
}

.orange {
    color: rgb(228, 89, 38);
}

p {
    text-align: justify;
}

.flex {
    display: flex;
    margin-bottom: 150px;
}

.half-width1 {
    width: 50%;
    padding-left: 5%;
}

.half-width2 {
    width: 50%;
    padding-left: 25%;
}

.half-width3 {
    width: 50%;
    padding-left: 5%;
}

.half-width4 {
    width: 50%;
    padding-left: 5%;
}

.half-width5 {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 1%;
    border-radius: 10px;
    box-shadow: 10px 10px 30px rgb(151, 151, 11);
    border-left: 7px solid rgb(185, 1, 1);
}

.half-width6 {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 1%;
    border-radius: 10px;
    box-shadow: 10px 10px 30px rgb(151, 151, 11);
    border-left: 7px solid rgb(30, 14, 170);
}

.half-width2 img {
    width: 80%;
}

.half-width3 img {
    width: 70%;
}

.button {
    text-decoration: none;
    background-image: linear-gradient(rgb(236, 101, 101), rgb(230, 174, 92));
    color: white;
    font-weight: 700;
    padding: 10px 30px;
    border-radius: 5px;
}

.banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.half-width img {
    width: 75%;
}

.dream {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experience {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

#color {
    color: darkgreen;
}